# no realignment and recalibration
# alignment vs decoy
# quality control
# no variant calling
details:
- algorithm:
    aligner: bwa
    effects: false
    realign: false
    recalibrate: false
    mark_duplicates: true
    save_diskspace: true
    variantcaller: false
    tools_on:
    - svplots
    - qualimap
  analysis: variant2
  description: 'project_sample'
  files:
  - /hpf/largeprojects/ccmbio/naumenko/project_cheo/912R/input/912R_A337376.bam
  genome_build: GRCh37d5
  metadata:
    batch: project
resources:
  default:
    cores: 7
    jvm_opts:
    - -Xms750m
    - -Xmx7000m
    memory: 7G
upload:
  dir: ../final
